/************************
GENERAL
************************/
@font-face {
    font-family: 'black_roseregular';
    src: url('../font/BLACKR-webfont.eot');
    src: url('../font/BLACKR-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/BLACKR-webfont.woff') format('woff'),
         url('../font/BLACKR-webfont.ttf') format('truetype'),
         url('../font/BLACKR-webfont.svg#black_roseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

a {
	text-decoration: none;
}


/************************
Heading
************************/

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	/*font-family: 'Fontdiner Swanky', cursive;*/
	font-family: 'black_roseregular';
	margin: 20px 0;
	font-style: normal;
	font-size: 2.0em;
	font-weight: bold;
	line-height: 1em;
}

#my-cal {
	font-family: 'black_roseregular';
	font-size: 1.0em;
	font-weight: bold;
	color: grey;
	padding-right: 20px;
}

/************************
NAVIGATION
************************/

/*nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}
*/

nav {

   background: lightgray;
   width: 150px;
   position: fixed;
   left: 0px;
   top: 0px;
   bottom: 0px;
   border-right: solid grey 1px;
   padding-right: 10px;
   font-family: 'black_roseregular';
   font-size: 1.75em;

}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding-left: 0;
}

nav li {
	display: block;
	width: 50px;
	padding-top: 10px;
}

nav li a:hover {
	color: gray;
}

/************************
Page: Me
************************/

.profile-photo {
	display: block;/*      This property makes picture disappear dont know why yet, trying to center*/
	max-width: 250px;
	margin: 0 auto 30px;
	border-radius: 100%;
}

h3{
	text-align: center;
}

/************************
Page: Marriage
************************/
h2 {
	text-align: center;

}

.phone-photo{
	display: block;
	max-width: 250px;
	margin: 0 auto 30px;
	border-radius: 30px/10px;
}

.iphone-photo{
	display: block;
	max-width: 250px;
	margin: 0 auto 30px;
	border-radius: 5px 20px 5px;

}

.telephone-photo {
	display: block;
	max-width: 250px;
	margin: 0 auto 30px;
	border-radius: 70%;
}


/************************
Page: Media
************************/

iframe {
	display: block;
	margin: 30px auto 30px auto;
	
	/*margin-right: auto;margin-left: auto*/;
}





/************************
Text color
************************/

#story {
	color: white;
	padding: 0 30px 0 30px;
	width: 80%;
	height: 100px;
	margin-left: 10%;
}

#wrapper {
	
}

#wife {
	text-align: center;
	color: white;
	padding: 0 30px 0 30px;
	font-size: 1.5em;
}